Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/5/R1/TS5OQ5CRUWFZYL1ZQ7I416.uasset
Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/A/JR/XEZ2Y5WCFE345P25Z8IA0L.uasset
